/*Colores:

#B6E9EA
#BBB0DB
#E54296
#FDE2DA
#D0C7E6
*/

body{
	margin: 0;
	height: 100%;
	/*width: 100%;*/
	background: linear-gradient(to bottom,#E54296 0%,#BBB0DB 35%,#D0C7E6 70%,#B6E9EA 100%);
	/*background-color: black;*/
}

p{
	font-family: 'Courgette', cursive;
	font-size: 1.2em;
}

.encabezado, .historia h4{
	font-family: 'Volkhov', serif;
}

.encabezado h1, .encabezado h3{
	text-align: center;
	color: white;
}
.historia h3{
	font-family: 'Boogaloo', cursive;
	font-size: 1.5em;
}
.cont-historias{
	width: 80%;
	background-color: #FDE2DA;
	border-radius: 10px;
}
.centrado{
	margin: 0 auto;
}
.historia img{
	width: 80%;
}

.historia{
	padding: 5px 10px;
}

figure{
	text-align: center;
	margin: 0;
}
.rot90{
	/*-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	rotation: 90deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	margin: 20px 0;*/
}
.historias{
	margin-bottom: 50px;
}